<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <title>Django Kalytskyi</title>
        <style type="text/css">
            body {
                font-family: Geneva, Arial, Helvetica, sans-serif;
            }
        </style>
    {% endblock %}
</head>
<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div id="content">
        <a href="/">Home</a>
        <a href="/admin">Admin</a>
        <a href="/students/view">Students</a>
        <a href="/teachers/view">Teachers</a>
        <a href="/groups/view">Groups</a>
        <a href="/students/contact">Contact us</a>
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>